/* body */
body {
    background-color: rgb(255, 255, 255);
}
/* .cafe */
h1 {
    font-size: 35px;
    color: lightslategray;
    text-align: justify;
 }

 h2 {
     border-left-style: solid;
     border-left-width: 6px;
     border-left-color: darkcyan;
 }

 /* 世界のファックス */
 #fucks {
     background-color: rgb(30, 23, 105);
     color: rgb(109, 179, 212);
 }

  /* ページの先頭へ */
  .pagetop {
    text-align: right;
}

 /* コピーライト */
 .copyright {
    border-top: solid 3px #000000;
    text-align: center;
 }